@font-face {
    font-family: 'Roboto';
    src: url("fonts/Roboto-Regular.ttf");
}

*{
    margin:0px;
    font-family: 'Roboto';
}
h2 {
    font-weight: bold;
}

/* header section */
.header {
   background-image: url(images/h_img.jpg); 
   text-align: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 340px;
   padding-bottom: 40px;
}
.heading-1{
    margin-top: 48px;
    margin-bottom: 50px;
}
.mouse-click {
    margin-top: 200px;
}
.header h1{
    font-size: 60px;
    color: white;
}
.header p {
    font-size: 19px;
    color: white;
}


/* about us section */
.about-us {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 180px;
    padding-right: 180px;
}
.about-us p{
    font-size: 22px;
}

/* services section */
.services {
    text-align: center;
    color: white;
    background-image: url(images/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 60px;
    font-weight: bold;
}
.services p {
    font-size: 16px;
}

/* what we do section */
.what-we-do {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 250px;
    padding-right: 250px;
}
.what-icons {
    display: flex;
    justify-content: space-between;
}
.what-we-do h1 {
    text-align: center;
    margin-bottom: 50px;
    
}
.design, .dev, .product {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    width: 30%;
} 

.design-text {
    display: none;
}
.dev-text {
    display: none;
}
.product-text{
    display: none;
}

/* portfolio section */

.portfolio {
    padding-bottom: 60px;
}
.portfolio h1 {
    text-align: center;
    margin-bottom: 40px;
}
.bottom-row{
    padding-top: 30px;
    padding-left: 250px;
    padding-right: 250px;
}
.top-row {
    padding-left: 250px;
    padding-right: 250px;
}
.top-row img {
    width: 100%;
}
.bottom-row img {
    width: 100%;
}
#hidden1, #hidden2, #hidden3, #hidden4, #hidden5, #hidden6, #hidden7, #hidden8 {
    display: none;
    background-color:rgba(250, 245, 245, 0.456);
    position: relative;
    bottom: 240px;
    width: 100%;
    height: 60%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    padding-top: 50PX;
    border: 2px solid white;
    margin-bottom: -140px;
}

/* contact us section */

.contact-us{
    text-align: center;
    background-image: url(images/c_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 200px;
    color: white;
}
form{
    text-align: center;
    margin-left: 420px;
}
#mce-FNAME{
    width: 400px;
    height: 30px;
    margin-right: 12px;
    background-color: transparent;
    border: 1px solid rgb(243, 240, 240);
}
#mce-EMAIL{
    width: 400px;
    height: 30px;
    margin-left: 12px;
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid rgb(243, 240, 240);
}
#message{
    width: 830px;
    height: 250px;
    margin-top: 30px;
    background-color: transparent;
    border: 1px solid rgb(243, 240, 240);
}
::placeholder{
    color: white;
    min-height: 10em;
    vertical-align: top;
    display: table-cell;
    justify-content: top;
}

/* footer */

.footer{
    text-align: center;
    padding-top: 30px;
    line-height: 10px;
}
.footer-logo {
    padding-top: 30px;
}
.btn {
    width: 200px;
    height: 50px;
    border: 1px solid white;
    margin-top: 20px;
    color: white;
    font-size: 18px;
}

@media screen and (min-width:480px) {
    .what-we-do {
        padding-left: 0;
        padding-right: 0;
    }
    .portfolio {
        padding-left: 10px;
        padding-right: 10px;
    }
    .top-row img {
        margin-top: 10px;
    }
    /* #message {
        width: 100%;
    } */
    #email {
        margin-left: 0;
    }
    .bottom-row img {
        margin-top: 10px;
    }
}